@charset "UTF-8";

/* header */
header {
    width: 1000px;
    background-color: #ffcccc;
}

/* wrapper */
#wrapper {
    width: 1000px;
    display: flex;
}

/* メイン */
#main {
    width: 700px;
    background-color: #ccffcc;
}

/* メニュー */
#menu {
    width: 300px;
    background-color: #ccccff;
}

/* フッター */
footer {
    width: 1000px;
    background-color: #ffccff;
}
